body {
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: Ubuntu, sans-serif;
	color: rgb(40,40,40) !important;
}
a {
	text-decoration: none;
	color: rgb(40,40,40);
}
div.navbar {
	width: 60%;
	min-width: 500px;
	box-shadow: 0 0 3px rgb(0,0,0);
	height: 50px;
	margin: 0 auto;
	padding: 0 0 0 0;
}
div.navbar h1 {
	margin-left: 20px;
	float: left;
	font-size: 14pt;
}
div.navbar div.navbar_inner {
	float: right;
}
div.navbar div.navbar_inner ul {
	list-style: none;
}
div.navbar div.navbar_inner ul>li {
	font-size: 13pt;
	padding-right: 20px;
	float: left;
}
div.content {
	width: 60%;
	margin: 20px auto;
	padding: 0 0 0 0;
	min-width: 500px;
	border-radius: 2px;
	box-shadow: 0 0 2px rgb(40,40,40);
	font-family: Ubuntu, sans-serif !important;
}
div.content h2 {
	font-size: 14pt;
	padding: 20px 20px 20px 20px;
	padding-bottom: 0px;
}
div.content p {
	margin: 0 0 0 0;
	padding: 20px 20px 20px 20px;
	padding-top: 0px;
	font-size: 11pt;
	font-family: Ubuntu, sans-serif;
}